<ion-view title="登录" class="" hide-nav-bar="true" style="background-color:#203269">
    <ion-content padding="true" class="has-header">
        <div class="">
          <img src="img/login.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form class="list " name="loginForm">
            <ion-list class="">
                <label class="item item-input ">
                    <span class="input-label icon ion-ios-person-outline positive"></span>
                    <input type="text" name="user" placeholder="Name" ng-model="username" required>
                </label>
                <label class="item item-input ">
                    <span class="input-label icon ion-ios-unlocked-outline positive"></span>
                    <input type="password" name="password" placeholder="Password" ng-model="password" required>
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <button class=" button button-light button-block " ng-disabled="loginForm.user.$invalid || loginForm.password.$invalid" ng-click="login(username, password)">登录</button>
        </form>
    </ion-content>
</ion-view>
