<ion-view title="进货单" class=" ">
  <ion-floating-button click="addItem()" has-footer="true" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
  <ion-nav-buttons side="right">
    <button class="button button-small button-icon icon ion-android-open" ngf-select ngf-change="upload($files)">
      打开进货单
    </button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <ion-list>
      <label class="item item-input item-button-right">
        <span class="input-label">进货单号</span>
        <input type="text" ng-model="purchase.purchaseOrderId">
      </label>
      <ion-item class="item-divider">
        <p class="item-note">总价：{{purchase.totalPrice|currency:""}}</p>
      </ion-item>
      <ion-item ng-repeat="item in purchase.items">
        <h2>{{item.title}}</h2>
        <span class="badge">{{item.amount}}</span>
        <p>{{item.barCode}}
          <span class="item-note">{{item.unitPrice|currency:""}}</span>
        </p>
        <ion-option-button class="button-assertive" ng-click="remove(item)">
          删除
        </ion-option-button>
      </ion-item>
      <div ng-show="unknownPurchase.items.length">
        <ion-item class="item-divider item-assertive">
          <p>不识别的产品
            <span class="item-note">总价：{{unknownPurchase.totalPrice|currency:""}}</span>
          </p>
        </ion-item>
        <ion-item ng-repeat="itemUnknown in unknownPurchase.items">
          <h2>{{itemUnknown.title}}</h2>
          <span class="badge">{{itemUnknown.amount}}</span>
          <p>{{itemUnknown.barCode}}
            <span class="item-note">{{itemUnknown.unitPrice|currency:""}}</span>
          </p>
          <ion-option-button class="button-assertive" ng-click="removeUnknown(itemUnknown)">
            删除
          </ion-option-button>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <div class=" button-bar ">
      <button class=" button button-positive " ng-disabled="!verifyPurchase(purchase)" ng-click="submitPurchase(purchase)">提交</button>
      <button class=" button button-positive  button-outline" ng-click="cancel()">取消</button>
    </div>
  </ion-footer-bar>
</ion-view>
