<ion-view title="销售" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding has-header">
        <p style="font-size:16px;text-align:center;" class=" ">本月销售额</p>
        <a style="font-size:33px;text-align:center;" class="button button-block button-light icon-right ion-chevron-right">{{sale.curMonth | currency:""}}</a>
        <a style="font-size:14px;text-align:right;" class="button button-small button-block button-light icon-right ion-chevron-right">今日销售：{{sale.curDay | currency:""}}</a>
        <div id="saleTab-button-bar3" class=" button-bar ">
            <button id="saleTab-button10" class=" button button-positive  button-block icon ion-android-camera ">扫码</button>
            <a ui-sref="tabs.saleItem" id="saleTab-button11" class=" button button-positive  button-block button-outline icon ion-android-clipboard ">手动输入</a>
        </div>
        <form id="saleTab-form2" class="list ">
            <div class="card">
                <p id="saleTab-markdown6" style="margin-right:12px;text-align:right;" class=" ">总价：{{saleItems.totalPrice|currency:""}}</p>
                <div class="row" style="background-color: #d1d1d1;">
                  <div class="col col-50">名称</div>
                  <div class="col">单价</div>
                  <div class="col" style="text-align:right;">数量</div>
                  <div class="col" style="text-align:right;">删除</div>
                </div>
                <div ng-repeat="saleItem in saleItems.items">
                  <div class="row" ng-if="$odd" style="background-color: #f5f5f5;">
                    <div class="col col-60">{{saleItem.title}}</div>
                    <div class="col">{{saleItem.price|currency:""}}</div>
                    <div class="col" style="text-align:right;">{{saleItem.count}}</div>
                    <a class="button button-small button-icon icon ion-trash-b" ng-click="remove(saleItem)"></a>
                  </div>
                  <div class="row" ng-if="$even">
                    <div class="col col-60">{{saleItem.title}}</div>
                    <div class="col">{{saleItem.price|currency:""}}</div>
                    <div class="col" style="text-align:right;">{{saleItem.count}}</div>
                    <a class="button button-small button-icon icon ion-trash-b" ng-click="remove(saleItem)"></a>
                  </div>
                </div>
            </div>
            <div id="saleTab-button-bar1" class=" button-bar ">
                <button id="saleTab-button3" class=" button button-positive  button-block icon ion-android-checkmark-circle ">提交</button>
                <button id="saleTab-button4" class=" button button-positive  button-block button-outline icon ion-android-cancel " ng-click="cancel()">取消</button>
            </div>
        </form>
    </ion-content>
</ion-view>
