<ion-view title="查看销售" class=" ">
    <ion-content padding="false" class="has-header">
      <div class="list">
        <label class="item item-input ">
          <span class="input-label">从:</span>
          <input type="date" ng-model="from">
        </label>
        <label class="item item-input ">
          <span class="input-label">到:</span>
          <input type="date" ng-model="to">
        </label>
        <button class="item button button-positive  button-block icon ion-android-search" ng-click="getDetail(from, to)">查询</button>
      </div>
      <ion-list ng-repeat="detail in saleDetail">
        <ion-item class="item-divider dark-bg">
          <p>{{detail.date|date:'yyyy-MM-dd'}}
          <span class="item-note">{{detail.totalPrice|currency:""}}</span>
          </p>
        </ion-item>
        <div ng-repeat="saleItem in detail.items">
          <ion-item class="item-divider">
            {{saleItem.createdAt|date:'HH:mm:ss'}} {{saleItem.sale}}
            <span class="item-note">{{saleItem.totalPrice|currency:""}}</span>
          </ion-item>
          <ion-item ng-repeat="productItem in saleItem.items">
              {{productItem.title}}
              <span class="item-note">{{productItem.unitPrice|currency:""}}*{{productItem.count}}</span>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
</ion-view>
