<ion-view title="查看销售" class=" ">
    <ion-content padding="true" class="has-header">
      <div class="list">
        <label class="item item-input ">
          <span class="input-label">从:</span>
          <input type="date" ng-model="from">
        </label>
        <label class="item item-input ">
          <span class="input-label">到:</span>
          <input type="date" ng-model="to">
        </label>
        <button class="item button button-positive  button-block icon ion-android-search" ng-click="getDetail(from, to)">查询</button>
      </div>
      <div class="list card collapse" ng-repeat="detail in saleDetail">
        <div class="item">
          <h2>{{detail.date|date:'yyyy-MM-dd HH:mm:ss'}}</h2>
          <p>销售额:{{detail.totalPrice|currency:""}}</p>
        </div>
        <div class="item item-body">
          <div class="row" style="background-color: #d1d1d1;">
            <div class="col">理家</div>
            <div class="col col-40">名称</div>
            <div class="col">单价</div>
            <div class="col" style="text-align:right;">数量</div>
          </div>
          <div ng-repeat="saleItem in detail.items">
            <div class="row" ng-if="$odd" style="background-color: #f5f5f5;">
              <div class="col">{{saleItem.sale}}</div>
              <div class="col col-40">{{saleItem.title}}</div>
              <div class="col">{{saleItem.unitPrice|currency:""}}</div>
              <div class="col" style="text-align:right;">{{saleItem.count}}</div>
            </div>
            <div class="row" ng-if="$even">
              <div class="col">{{saleItem.sale}}</div>
              <div class="col col-40">{{saleItem.title}}</div>
              <div class="col">{{saleItem.unitPrice|currency:""}}</div>
              <div class="col" style="text-align:right;">{{saleItem.count}}</div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>
