<ion-view title="产品信息" class=" ">
    <ion-floating-button click="putItem()" has-footer="true" button-color="#2AC9AA" icon="ion-checkmark-round" icon-color="#fff">
    </ion-floating-button>
  <ion-nav-buttons side="right">
    <button class="button button-small button-icon icon ion-qr-scanner" ng-click="scanBarcode()">
      扫一扫
    </button>
  </ion-nav-buttons>
    <ion-content padding="true" class="has-header">
        <form>
            <div  class="list card">
            <span class="item item-input item-input-wrapper" style='overflow: visible;z-index:3;'>
              <i class="icon ion-search placeholder-icon"></i>
              <autocomplete  data-tap-disabled="true" ng-model="selectedStore.selected" data="descriptions"></autocomplete>
              <i class="icon ion-close-circled placeholder-icon" style="vertical-align: middle;"
                 on-tap="clearSearch()" ng-if="selectedStore.selected.length"></i>
            </span>
            <label class="item item-input ">
              <span class="input-label">编码</span>
              <input type="text" ng-disabled="true" ng-model="selectedProduct.barCode">
            </label>
            <label class="item item-input ">
                <span class="input-label">名称</span>
                <input type="text" ng-disabled="true" ng-model="selectedProduct.title">
            </label>
            <label class="item item-input ">
                <span class="input-label">单价</span>
                <input type="number" ng-model="selectedProduct.unitPrice">
            </label>
            <label class="item item-input ">
                <span class="input-label">数量</span>
                <input type="number" ng-model="selectedProduct.count">
            </label>
            </div>
        </form>
    </ion-content>
</ion-view>
