<ion-view title="销售" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding has-header">
        <p style="font-size:16px;text-align:center;" class=" ">本月销售额</p>
        <a href="#/tabs/sales/{{monthStart|date:'yyyy-MM-dd'}}/{{today|date:'yyyy-MM-dd'}}" style="font-size:33px;text-align:center;" class="button button-block button-light icon-right ion-chevron-right">{{sale.curMonth | currency:""}}</a>
        <a href="#/tabs/sales/{{today|date:'yyyy-MM-dd'}}/{{today|date:'yyyy-MM-dd'}}" style="font-size:14px;text-align:right;" class="button button-small button-block button-light icon-right ion-chevron-right">今日销售：{{sale.curDay | currency:""}}</a>
        <div class=" button-bar ">
            <button class=" button button-positive  button-block icon ion-android-camera " ng-click="scanBarcode()">扫码</button>
            <a ui-sref="tabs.saleItem" class=" button button-positive  button-block button-outline icon ion-android-clipboard ">手动输入</a>
        </div>
        <form class="list ">
            <div class="card">
                <p style="margin-right:12px;text-align:right;" class=" ">总价：{{saleItems.totalPrice|currency:""}}</p>
                <div class="row" style="background-color: #d1d1d1;">
                  <div class="col col-40">名称</div>
                  <div class="col col-30">单价</div>
                  <div class="col" style="text-align:right;">数量</div>
                  <div class="col" style="text-align:right;">删除</div>
                </div>
                <div ng-repeat="saleItem in saleItems.items">
                  <div class="row" ng-if="$odd" style="background-color: #f5f5f5;">
                    <div class="col col-40">{{saleItem.title}}</div>
                    <div class="col col-30">{{saleItem.unitPrice|currency:""}}</div>
                    <div class="col" style="text-align:right;">{{saleItem.count}}</div>
                    <a class="col button button-small button-icon icon icon-right ion-trash-b" ng-click="remove(saleItem)"></a>
                  </div>
                  <div class="row" ng-if="$even">
                    <div class="col col-40">{{saleItem.title}}</div>
                    <div class="col col-30">{{saleItem.unitPrice|currency:""}}</div>
                    <div class="col" style="text-align:right;">{{saleItem.count}}</div>
                    <a class="col button button-small button-icon icon icon-right ion-trash-b" ng-click="remove(saleItem)"></a>
                  </div>
                </div>
            </div>
            <div class=" button-bar ">
                <button class=" button button-positive  button-block icon ion-android-checkmark-circle " ng-disabled="saleItems.items.length <= 0">提交</button>
                <button class=" button button-positive  button-block button-outline icon ion-android-close " ng-click="cancel()">取消</button>
            </div>
        </form>
    </ion-content>
</ion-view>
