<ion-view title="库存" class=" ">
  <ion-floating-button click="addProduct()" has-footer="true" button-color="#2AC9AA" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
  <ion-content padding="false" class="">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="search">
        </label>
      </div>
    <ion-list>
        <ion-item ng-repeat="item in products | filter:search | orderBy:'left'">
          <h2>{{item.title}}</h2>
          <span class="badge badge-assertive" ng-if="item.left<5">{{item.left}}</span>
          <span class="badge" ng-if="item.left>=5">{{item.left}}</span>
          <p>{{item.barCode}}
            <span class="item-note">{{item.unitPrice|currency:""}}</span>
          </p>
          <ion-option-button class="button-balanced" ng-if="isAdmin()" ng-click="editProduct(item)">
            编辑
          </ion-option-button>
          <ion-option-button class="button-assertive" ng-if="isAdmin()" ng-click="deleteProduct(item)">
            删除
          </ion-option-button>
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
